<!-- .row>.col*2 -->

<div class="row">
    <div class="col">

            <app-items-list 
            [selected]="selected"
            (selectedChange)="selected = $event"
            [playlists]="playlists"></app-items-list>

            {{selected?.name}}

    </div>
    <div class="col">


        <ng-container [ngSwitch]=" mode " *ngIf="selected">

            <ng-container *ngSwitchCase=" Modes.show ">
                <app-playlist-details [playlist]="selected" (edit)="edit()"></app-playlist-details>
 
            </ng-container> 

            <ng-container *ngSwitchCase="  Modes.edit ">
                <app-playlist-form [playlist]="selected" (cancel)="cancel()"></app-playlist-form>
         
            </ng-container>

        </ng-container>

    </div>
</div>