<app-search-posts-provider>
<div class="row">
        <div class="col">
            <app-search-posts></app-search-posts>
        </div>
        <div class="col">
            <app-search-posts></app-search-posts>
        </div>
    </div>
</app-search-posts-provider>