
<!-- div>.form-group*3>label+input.form-control -->

<div>
    <div class="form-group">
        <label [attr.for]="uid+'_playlist_name'">Name:</label>
        <input type="text" [id]="uid+'_playlist_name'" class="form-control" 
                [(ngModel)]="playlist.name">
    </div>

    <div class="form-group">
        <label for="">Favorite:</label>
        <input type="checkbox" 
                [checked]="playlist.favorite">
    </div>

    <div class="form-group">
        <label for="">Color:</label>
        <input type="color" 
                [value]="playlist.color">
    </div>

</div>

<input type="button" value="Cancel" (click)="cancel.emit()" >