<p>accordion-example works!</p>

<app-accordion>
    <app-accordion-tab label="A">A</app-accordion-tab>
    <app-accordion-tab label="B">B</app-accordion-tab>
    <app-collapsible>Brzydkie kaczatko</app-collapsible>
    <app-accordion-tab label="C" *ngFor="let tab of tabs">C</app-accordion-tab>
</app-accordion>

<button (click)="tabs.push(1)">Add</button>