<p>tabs-examples works!</p>

<app-collapsible>
    <p> 
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </p>
</app-collapsible>