<!-- .container>.row>.col -->
<div class="container">
  <div class="row">
    <div class="col">

      <h1>
        Welcome to {{ title }}!
      </h1>

      <router-outlet></router-outlet>


    </div>
  </div>
</div>