<!-- .list-group>.list-group-item*3{Test} -->

<div class="list-group">

    <!-- <ng-template ngFor [ngForOf]="playlists" let-playlist let-i="index">
        <div class="list-group-item">
            {{i+1}}. {{playlist.name}}
        </div>
    </ng-template> -->


    <div class="list-group-item"
        [class.active]="playlist == selected"

        [ngClass]="{active: playlist == selected }"

        (click)="select(playlist)"
        *ngFor="let playlist of playlists; index as i; trackBy trackFn">
        {{i+1}}. {{playlist.name}}
    </div>

</div>