
@import "functions";
@import "variables";

// ::ng-deep p{
//     color: $pink;
// }

// :host ::ng-deep p{
//     color: $pink;
// }

:host(.selected){
    border: 1px solid black;
    display: block;
}

:host-context(.awesome-theme) p{
    color: $pink;
}

