<!-- .row*2>.col -->
<div class="row">
    <div class="col">
        <app-search-form
        [query]="queryChange | async"
        (searchChange)="search($event)"></app-search-form>
    </div>
</div>
<div class="row">
    <div class="col">
        <p *ngIf="!hide">Found {{(resultsChange | async)?.length}} results</p>

        <button (click)="hide = !hide">Toggle</button>

        <app-posts-list
        *ngIf="!hide" [posts]="resultsChange | async"></app-posts-list>


        <!-- <ng-container *ngIf="resultsChange | async as results">

            <p>Found {{results?.length}} results</p>

            <app-posts-list [posts]="results"></app-posts-list>

        </ng-container> -->
    </div>
</div>