<ng-container [formGroup]="addressForm">
    <div class="row">
        <label for="Full Name"> Full Name </label>
        <input type="text" formControlName="fname" class="">
    </div>
    <div class="row">
        <label for="Email"> Email </label>
        <input type="text" formControlName="email" class="">
    </div>
</ng-container>