<!-- dl>(dt+dd)*3 -->

<dl>
    <dt>Name:</dt>
    <dd>{{playlist.name}}</dd>

    <dt>Favorite:</dt>
    <dd>{{ playlist.favorite? 'Yes':'No' }}</dd>

    <dt>Color:</dt>
    <dd [ngStyle]="{
        color:playlist.color,
        backgroundColor:playlist.color
    }">
        #ff00ff
    </dd>

    <dt>Created:</dt>
    <dd>{{ playlist.createdAt | date }}</dd>

</dl>

<input #btn type="button" value="Edit" (click)="edit.emit()" >