<div class="card">
    <div class="card-header" (click)="toggle()">
        <h2 class="mb-0">
            <button class="btn btn-link">
                {{label}}
            </button>
        </h2>
    </div>
    <div id="collapseOne" class="collapse" *ngIf="open">
        <div class="card-body">
                <ng-content></ng-content>
        </div>
    </div>
</div>