<form>
    <ng-container [formGroup]="form">

        
        <div class="form-group" >
            <input type="text" class="form-control" formControlName="query">
        </div>
        
        
        <app-custom-form-group formControlName="address"></app-custom-form-group>
        
    </ng-container>
    <!-- <my-subform [form]="for.get('subform')"></my-subform> -->

    <!-- <my-subform formControlName="subform"></my-subform> -->
</form>