{{now}}

<!-- table.table>tr>td -->
{{ref.getSelected()?.title}}

<table class="table" 
(selectionChange)=" 1 + 2"
appSelection #ref="mySelection">
    <thead>
        <tr>
            <th>Tytuł</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts" [appSelectable]="post">
            <td> {{post.title}} </td>
        </tr>
    </tbody>
</table>